<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RegisterStore.Properties.Settings.registerstoreConnectionString"
            connectionString="Data Source=.;Initial Catalog=registerstore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RegisterStore.Properties.Settings.registerstore_dbConnectionString"
            connectionString="Data Source=registerstore-server.database.windows.net;Initial Catalog=registerstore-db;User ID=joshua;Password=$Cantillo1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>